<table class="table table-hover">
  <tr valign="top">
    <td width="70px">
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        <img src="{{ post.author.avatar(36) }}" />
      </a>
    </td>
    <td>
      {% set user_link %}
      <span class="user_popup">
        <a href="{{ url_for('main.user', username=post.author.username) }}" >
          {{ post.author.username }}
        </a>
      </span>
      {% endset %}
      {{ _('%(username)s said %(when)s',
      username=user_link, when=moment(post.timestamp).fromNow())}}
      &nbsp; ({{ moment(post.timestamp).fromNow() }}):<br />

      <span id="post{{ post.id }}">
        {{ post.body }}
      </span>

      {% if post.language and post.language != g.locale %}
      <br><br>
      <span id="translation{{ post.id }}">
          <a href="javascript:translate(
                      '#post{{ post.id }}',
                      '#translation{{ post.id }}',
                      '{{post.langauge}}',
                      '{{g.locale}}');">{{ _('Translate') }}</a>
      </span>      
      {% endif %}
    </td>
  </tr>
  <!-- <tr><small><button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button></small></tr> -->
</table>
