{% extends "index.html" %}

{% block content %}

    <table>
        <tr valign="top">
            <td><img src="{{user.avatar(128)}}"></td>
            <td>
                <h1>User: {{user.username}}</h1>
                <p> {% if user.about_me %}
                    About Me: {{user.about_me}}
                {% endif %}
                </p>
                <p>
                {% if user.last_seen %}
                   Last seen on: <span class="text-success">{{ moment(user.last_seen).calendar() }} </span>
                {% endif %}
                </p>
                <p>
                {{ _('%(followers)d followers, %(following)d following.',
                    followers=user.followers.count(),
                    following=user.followed.count()) }}
                </p>                
                
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{_('Edit your profile')}}</a></p>

                {% if not current_user.get_task_in_progress('export_posts') %}
                <p><a href="{{ url_for('main.export_posts') }}">{{_('Export your posts')}}</a></p>
                {% endif %}

                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow',username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow',username=user.username)}}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
                {% if current_user != user %}
                <p>
                    <a href="{{url_for('main.send_message', recipient=user.username )}}">
                        {{_('Send private message')}}
                    </a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>

    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
 
    {% if prev_url %}
    <a href="{{prev_url}}">Newer Posts</a>
    &nbsp;
    {% endif %}
      {% if next_url %}
    <a href="{{next_url}}">Older Posts</a>
    {% endif %}


{% endblock %}